 .navigation li {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
 }

 #banner {
    background-image: url("https://content.codecademy.com/courses/web-101/unit-6/htmlcss1-img_tahoe.jpeg");
    padding-left: 10%;
 }

 .content {
    color: beige;
 }